<h1>Listing inventories</h1>

<table>
  <tr>
    <th>Cost</th>
    <th>Qty</th>
    <th>Chef</th>
    <th>Restaurant</th>
    <th></th>
  </tr>

<% @inventories.each do |inventory| %>
  <tr>
    <td><%= inventory.cost %></td>
    <td><%= inventory.qty %></td>
    <td><%= inventory.chef.name %></td>
    <td><%= inventory.restaurant.address %></td>
    <td><%= link_to 'Show', inventory %></td>
    <td><%= link_to 'Edit', edit_inventory_path(inventory) %></td>
    <td><%= link_to 'Destroy', inventory, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Inventory', new_inventory_path %> |
<%= link_to 'Chefs', chefs_path %> |
<%= link_to 'Restaurants', restaurants_path %>