<p id="notice"><%= notice %></p>

<p>
  <b>Cost:</b>
  <%= @inventory.cost %>
</p>

<p>
  <b>Qty:</b>
  <%= @inventory.qty %>
</p>


<%= link_to 'Edit', edit_inventory_path(@inventory) %> |
<%= link_to 'Back', inventories_path %>
