<h1>Listing restaurants</h1>

<table>
  <tr>
    <th>Address</th>
    <th>Zip</th>
    <th>Chef</th>
    <th>Bill</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @restaurants.each do |restaurant| %>
  <tr>
    <td><%= restaurant.address %></td>
    <td><%= restaurant.zip %></td>
    <td><%= restaurant.chef.name %></td>
    <td>$<%= restaurant.bill %></td>
    <td><%= link_to 'Show', restaurant %></td>
    <td><%= link_to 'Edit', edit_restaurant_path(restaurant) %></td>
    <td><%= link_to 'Destroy', restaurant, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Restaurant', new_restaurant_path %> |
<%= link_to 'Chefs', chefs_path %> |
<%= link_to 'Orders', orders_path %>
